body {

    background: #bdbdbd;
    font-family: Arial;
    
}


h1 {
    text-align:center;
}


.post {

    background:  white;
    margin: 0 auto;
    height: 450px;
    width: 400px;
  

}

.head {
    display: flex;
    border: red;
}

.heading {

    flex-grow: 1;
}

.body-post {

    display:flex;
}